@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.color {
    background-color: aquamarine;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading {
    padding-left: 10px;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
}